.game{
  text-align: center;
}

.grid{
  background-image: url('../images/grid2.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 0 auto;
}

#id1{
  grid-column: 1/1;
  grid-row: 1/1;
}

#id2{
  grid-column: 2/2;
  grid-row: 1/1;
}

#id3{
  grid-column: 3/3;
  grid-row: 1/1;
}

#id4{
  grid-column: 1/1;
  grid-row: 2/2;
}

#id5{
  grid-column: 2/2;
  grid-row: 2/2;
}

#id6{
  grid-column: 3/3;
  grid-row: 2/2;
}

#id7{
  grid-column: 1/1;
  grid-row: 3/3;
}

#id8{
  grid-column: 2/2;
  grid-row: 3/3;
}

#id9{
  grid-column: 3/3;
  grid-row: 3/3;
}

.move{
  max-width:100%;
  max-height:100%;
  text-align: center;
}

p{
  text-align: center;
  display: inline-block;
  background-color: #FADF7F;
  font-size: 3em;
  margin: 0 auto;
}
