.game{
  text-align: center;
}

main{
  min-height: 600px;
}

.grid{
  background-image: url('../images/grid2.png');
  background-position: center center;
  background-size: 112%;

  width: 400px;
  height: 400px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;

  margin: 40px auto;
  box-shadow: inset 0 0 50px #f5f5f6;
}

p{
  text-align: center;
  display: inline-block;
  background-color: #FADF7F;
  font-size: 3em;
  margin: 10px auto;
}

.button:hover{
  background-color: #ffffb0;
  opacity: 0.7;
}

.move{
  max-width:100%;
  max-height:100%;
}

#id0{
  grid-column: 1/1;
  grid-row: 1/1;
}

#id1{
  grid-column: 2/2;
  grid-row: 1/1;
}

#id2{
  grid-column: 3/3;
  grid-row: 1/1;
}

#id3{
  grid-column: 1/1;
  grid-row: 2/2;
}

#id4{
  grid-column: 2/2;
  grid-row: 2/2;
}

#id5{
  grid-column: 3/3;
  grid-row: 2/2;
}

#id6{
  grid-column: 1/1;
  grid-row: 3/3;
}

#id7{
  grid-column: 2/2;
  grid-row: 3/3;
}

#id8{
  grid-column: 3/3;
  grid-row: 3/3;
}
